.container {
    max-width: 1000px;
}

.wrapper {
    padding-top: 5rem;
}

.container button {
    float: right;
}

.col-no {
    width: 5%;
}

.col-edit {
    width: 20%;
}

#meals-table {
    text-align: center;
}

#meals-table thead {
    background-color: #41464b;
    color: white;
}

.edit-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.edit-container span {
    padding: 0 5px;
}

.edit-container a:hover {
    color: blue !important;
    cursor: pointer;
}